<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <% @chat_rooms.each do |chat_room| %>
        <div class="chat-header">
          <% @match = Match.find(chat_room.match_id) %>
          <% @swipe = Swipe.find_by(match_id: @match.id) %>
          <p><b>Traded Furniture Items: <br>"<%= @swipe.owned_furniture_item.title %> - <%= @swipe.wanted_furniture_item.title %>"</b></p>
          <p><b><%= chat_room.name %></b></p>
        </div>
        <div class="messages">
          <% @messages = Message.where('chat_room_id = ?', chat_room.id) %>
          <% @messages.each do |message| %>
            <%= render "messages/message", message: message, user_is_messages_author: message.user == current_user %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
