<div class="container">

  <br><br><br><br><p class="furniture-new-title-new ">Browse and like Furniture to begin messaging the traders</p><br><br><br><br>
  <center><%= link_to "Start Trading", categories_index_path, class: "btn btn-danger button--spacing" %></center>

</div>
