<br><br><br><br><p class="Furniture-new-title">Browse and like Furniture to begin messaging the traders</p><br><br><br><br>
<center><%= link_to "Start Trading", categories_index_path, class: "btn btn-primary" %></center>
