body {
  background-color: white !important;
}
.home-logo {
  width: 300px;
  height: 300px;
  margin-top: 50px;
}

.home-title {
  font-family: $logo;
  font-size: 130px;
  margin-top: 50px;
  color: $danger;
}

.home-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
