.category-background {
  width: 100%;
  height: 200px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 3px;
  display: flex;
  align-items: center;
  color: white;
  justify-content: center;

}

.category-text {
  font-size: 30px;
  color: white;
  font-family: $headers-font;

}



