.profile-title {
  font-family: $logo;
  text-align: center;
  color: $primary;
  margin-bottom: 50px;
  margin-top: 70px;
  font-size: 50px;
  transform: skew(31deg, -0.06turn);
  position: absolute;
  text-indent: 75px;

}
.profile-title-ornament {
  background-repeat: no-repeat;
  background-size: contain;
  width: 219px;
  height: 67px;
  position: absolute;
  top: -16px;
  right: 76px;
  opacity: 0.5;
  animation:fadeIn ease-in 1;
  animation-fill-mode:forwards;
  animation-duration:2s;
}

.profile-greeting {
  position: relative;
}

body {
 background-color: $light-gray;
}

.main-profile-content {
  padding-top: 20vh;
}

@keyframes fadeIn { from { opacity:0; } to { opacity:0.5; } }

.profile-rating {
  text-align: center;
  font-size: 1.7rem;
  padding-top: 10px;
  color: $danger;
}

.profile-rating-sm {
  color: $danger;
  font-size: 1.7rem;
}

.profile-name {
  color: $primary;
}

.profile-description {
  color: $success;
}
