edit.html.erb
<h1 class="Furniture-new-title">Share Your Furniture</h1>
<%= render 'form', furniture_item: @furniture %>
</div>
<%= link_to furniture_items_path do %>
  <i class="fas fa-chevron-left back-button"></i>
<% end %>
