<p id="notice"><%= notice %></p>

<% @furniture_items.each do |furniture_item| %>
  <% image = @images.where('furniture_item_id = ?', furniture_item.id) %>
  <% unless image.nil? %>
    <% image.each do |i| %>
      <%= cl_image_tag i.photo, height: 400, width: 380, crop: :fill %>
    <% end %>
  <% end %>
  <h6><%= furniture_item.title %></h6>
  <p> <%= furniture_item.description %></p>
<% end %>

s
