<div class="container">
<h1 class="Furniture-new-title" style="font-size: 2.4rem;">Share Your Furniture</h1>
<%= render 'form', furniture_item: @furniture %>
</div>
<% @category = Category.find_by_name("View All") %>
<%= link_to category_furniture_items_path(@category.id) do %>
  <i class="fas fa-chevron-left back-button"></i>
<% end %>

</div>
