.form-control-label {
  color: $success;
  font-family: $body-font;
  font-size: 15px;
}

.Furniture-new-title {
  text-align: center;
  color: $danger;
  font-family: $headers-font;
  margin-bottom: 15px;
}

.file {
  color: $success;
}

.form-control {
  border: 1px solid $success;
}
