.form-control-label {
  color: $success;
  font-family: $body-font;
  font-size: 15px;
}

.Furniture-new-title {
  text-align: center;
  color: $danger;
  font-family: $headers-font;
  margin-bottom: 15px;
}

.file {
  color: $success;
}

.form-control {
  border: 1px solid $success;
}


.furniture-new-title-new {
    text-align: center;
    color: white;
    font-family: "Rubik", sans-serif;
    margin-bottom: 15px;
    font-weight: 700;
    background-color: #4E9F9A;
    padding: 10px;
    opacity: 0.9;
    font-size: 2.0rem;
}
