.navbar-lewagon {
  width: 100%;
  background: white;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
}

.nav_icons {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  align-items: center;
}

.nav_icon {
  font-size: 32px;
  padding-top: 1rem;
  opacity: 0.7;
}

.navbar-brand {
  margin-right: 3rem;
}

#space-for-navbar {
  height: 90px;
  width: 100%;
}
